
  #linePage svg {
    fill: #000;
    fill-opacity: 0.3;
  }
  
  #linePage path {
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
  }
  
  #linePage .axis {
    stroke: #000;
  }
  
  #linePage .axis-labels text {
    fill: #000;
    fill-opacity: 0.9;
    font-size: 12px;
    text-anchor: middle;
  }
  
  #linePage .axis-labels line {
    stroke: #000;
  }
  
  #linePage .gridline {
    opacity: 0.2;
  }